* {
    box-sizing: border-box;
    text-align: center;
}
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
     'Helvetica Neue', sans-serif;
    /* 
        디지털 숫자 폰트
        디지털 숫자 폰트 사이즈
        디지털 숫자 폰트 색

        style.css의 버튼 설정

    */
}

select{
    width: clamp(80px, 12vw, 160px);
}

.font-digit{
    font-weight: 500;
}

/* main contents-area */
.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    height: auto;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 4px 2vw 4vw;
}
.container{
    width: auto;
    height: auto;

    border-radius: 20px;
}
/*clock*/
.clock-screen{
    display: flex;
    flex-direction: column;

    font-size: clamp(20px, 1.5em, 40px);
}

/*alarm*/

.alarm-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 5vh 0;
}
.form-alarm-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: clamp(80px, auto, 150px);   
}

.alarm-container{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    border: 1px solid #000;
    width: 100%;

    padding: 1vw;
}
.alarm-section{
    border: inherit;
    width: 20vw;
    max-width: 240px;

}
.alarm-container-header{
    height: 20%;
}



/*timer*/
