* {
    box-sizing: border-box;
    text-align: center;
}

select{
    width: clamp(80px, 12vw, 160px);
}

.font-digit{
    font-weight: 500;
}

/* main contents-area */
.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35vh;
    height: auto;
    position: relative;
    background-color: var(--cloud-white);
    border-radius: 20px;
    padding: 4px 2vw 4vw;
    overflow: hidden;
}
.inner::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: opacity 1s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}
.inner.dead::before{
    opacity: 1;
}
.container{
    width: auto;
    height: auto;

    border-radius: 20px;
}
/*clock*/
.clock-screen{
    display: flex;
    flex-direction: column;
    position: relative;

    font-size: clamp(20px, 1.5em, 40px);
}

/*alarm*/

.alarm-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5vh;
    padding: 5vh 0;
}
.form-alarm-group{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: clamp(80px, auto, 150px);   
}

.alarm-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    width: 100%;

    padding: 1vw;
}
.alarm-section{
    border: inherit;
    width: 20vw;
    max-width: 240px;
    border-radius: 5%;
    border: 2px solid #000;
    display: none;
    overflow: hidden;

}
.alarm-container-header{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
    height: 20%;
    border: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color:var(--storm-cloud);

}
.alarm-container-header__delete-btn{
    border: none;
}