* {
    box-sizing: border-box;
    text-align: center;
}

:root{
    /*common color definition*/
    --light-baby-blue: #A6DAF4;
    --pure-black: #000000;
    --pure-white: #ffffff;
    --more-light-cyan: #e5f1ff;
    --light-gray: #e8e8ea;

    /*color config*/
    --main-font-color: var(--pure-black);
    --main-section-color: (var(--light-baby-blue));
    --main-button-color: var(--more-light-cyan);
    --background-color-1: var(--light-gray);
    --background-color-2: var(--pure-white);

    /*font config*/
    font-size: 16px;
    color: var(--main-font-color);
}

/*Utility*/
.font-1{
    font-size: 5vmin;
    line-height: 1.5em;
    color: var(--main-font-color);
}
.font-2{font-size: 3vmin;}
.font-3{
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    color: var(--main-font-color);
}

body, html {
    width: 100%;
    height: 100%;
    background-color: var(--background-color-1);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--background-color-2);
    border-radius: 20px;

    padding: 20px 0px 0px;
    width: 60vw;
    min-width: 560px;
    max-width: 1080px;
    aspect-ratio: 3/2;

    position: fixed;
    left:20%;
    top: 15%;
}

section{
    border: none;
    border-radius: 20px;
    display: flex;
    
    background-color: var(--main-section-color);
}

.container {
    border: none;
    border-radius: 10px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;

    border-radius: 10px;
    border: none;
    background-color: var(--main-button-color);

    font-weight: 100;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*display*/
.display{
    flex-grow: 1;
    border: none;
    background-color: #fff;
}
.display__screen{
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    width: 100%;
    padding: 1em;
}

.display__screen > h2, p{
    margin-block-end: 0px;
}
.display__button > a:link, a:visited{
    position: relative;
    top: 5%;
    left: 10%;
}
.display__history-img {
    width: 5vw;
}

/*gnb*/
.gnb__container{
    padding: 1vh 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: linear-gradient(10deg, #e0c3fc 0%, #a1c4fd 60%, #c2e9fb 100%);
}

/*keypad*/
.keypad{
    /*display 설정*/
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;

    /*box size & 레이아웃*/
    width: 100%;
    padding: 1vw;
    height: 50%;
    min-height: 300px;

    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #a1c4fd 60%, #c2e9fb 100%);
}

.grid-cnt {
    display: grid;
    gap: 1.5vw;
    padding: 1vw;
}
.keypad__container--advanced {
    grid-template-columns: repeat(2, 1fr); 
}
.keypad__container--numpad {
    grid-template-columns: repeat(3, 1fr);
}
.keypad__container--basic {
    grid-template-columns: repeat(1, 1fr);
}